### Ignore everything but the selected folders and files
/*
!.github
!.gitignore
!.gitmodules
!.LICENSE
!README.md
!/Code
#!/Data
!/Advertisement
!/Homework
!/Lecture Notes
!/Papers
!/Slides
#!/Working




