### Ignore everything but the selected folders and files
/*
!.github
!.gitignore
!.gitmodules
!.LICENSE
!README.md
!/Code
!/Advertisement
!/Homework
!/Notes_of_Teacher
!/Papers
!/Slides
!/Books
!/Just_For_Fun
!/Notes_of_TA
!/Class_of_TA
!/Homework_Paragon