### For the results folder, small references can be uploaded such as Office files.
/*
!.gitignore
!.gitattributes
!*.md
!*.markdown
!*.lnk
!*.pdf
!*.tif
!*.txt
!*.m
!/Problem Set 1
!/Problem Set 2
!/Problem Set 3
!/Problem Set 4
!/Final Exam
.DS_Store
*.aux
*.log
*.out
*.gz