### gitattrubutes files to attribute binary files

# Office files
*.xlsx -crlf -diff -merge
*.xls -crlf -diff -merge
*.docx -crlf -diff -merge
*.doc -crlf -diff -merge
*.pptx -crlf -diff -merge
*.ppt -crlf -diff -merge

# Endnote files
*.enl -crlf -diff -merge
*.enlx -crlf -diff -merge

# Image files
*.jpg -crlf -diff -merge
*.png -crlf -diff -merge
*.tiff -crlf -diff -merge

# Other binary file types
*.pdf -crlf -diff -merge
*.ai -crlf -diff -merge
*.mdlp -crlf -diff -merge
*.slxp -crlf -diff -merge
*.sldd -crlf -diff -merge
*.mexa64 -crlf -diff -merge
*.mexw64 -crlf -diff -merge
*.mexmaci64 -crlf -diff -merge