### Track nothing but links and markdown files in the Reference folder
# the highly-related-references can also be uploaded as a secret.
/*
!.gitignore
!.gitattributes
!*.md
!*.markdown
!/20190904
!/20191113
!/20191225
.DS_Store
