### Track nothing but links and markdown files in the Reference folder
# the highly-related-references can also be uploaded as a secret.
/*
!.gitignore
!/links
!/Highly-related-references
!*.md
!*.markdown

